{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Skill Page |{% endblock title %}</title>
</head>

<body>
  {% block body %}
    <div class="container">
      <h1 style="margin-top: 50px;text-align: center;text-transform: uppercase;">Personal Skills</h1>
      <hr>
      <!-- 1st Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;">HTML</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;">CSS</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <!-- 1st Row Code End -->

      <!-- Second Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;">JQUERY</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 95%">95%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;">PHP</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 53%">53%</div>
          </div>
        </div>
      </div>
      <!-- Second Row Code End -->
      
      <!-- Third Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">JAVAscript</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 68%">68%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">es6</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 71%">71%</div>
          </div>
        </div>
      </div>
      <!-- Third Row Code End -->

      <!-- 4th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">Sass</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 74%">74%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">node js</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 49%">49%</div>
          </div>
        </div>
      </div>
      <!-- 4th Row Code End -->

      <!-- 5th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">angular js</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" style="width: 42%">42%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">express js</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 41%">41%</div>
          </div>
        </div>
      </div>
      <!-- 5th Row Code End -->

      <!-- 6th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">Mongo DB(Nosql)</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 93%">93%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">mysql</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
          </div>
        </div>
      </div>
      <!--6th Row Code End -->

      <!-- 7th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">python</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">Bootstrap4</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 77%">77%</div>
          </div>
        </div>
      </div>
      <!--7th Row Code End -->

      <!-- 8th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">django framework</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">c language</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <!--8th Row Code End -->

      <!-- 9th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">c++</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 85%">85%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">c#</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 69%">69%</div>
          </div>
        </div>
      </div>
      <!--9th Row Code End -->
        <h2 style="margin-top:50px;margin-bottom:20px;text-align: center;">Data Analysis Libraries</h2>
      <!-- 10th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">numpy</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 85%">85%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">pandas</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 84%">84%</div>
          </div>
        </div>
      </div>
      <!--10th Row Code End -->

      <!-- 11th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">Matplot lib</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" style="width: 81%">81%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">seaborn</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <!--11th Row Code End -->

      <!-- 12th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">materialize CSS</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">animated CSS</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <!--12th Row Code End -->

      <!-- 13th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">wow.js</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">Seo(search Engine Optimization)</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 40%">40%</div>
          </div>
        </div>
      </div>
      <!--13th Row Code End -->

      <!-- 14th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">sqlite3</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 65%">65%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">json</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <!--14th Row Code End -->

      <!-- 15th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">ajax</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 67%">67%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">dom</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 61%">61%</div>
          </div>
        </div>
      </div>
      <!--15th Row Code End -->

      <!-- 16th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">git hub</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">git bash</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 85%">85%</div>
          </div>
        </div>
      </div>
      <!--16th Row Code End -->

      <!-- 17th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 22px;color: brown;text-transform: uppercase;">cmd</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 30px;color: brown;text-transform: uppercase;">power shell</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
          </div>
        </div>
      </div>
      <!--17th Row Code End -->

      <!-- 18th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 30px;color: brown;text-transform: uppercase;">wordpress</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" style="width: 73%">73%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 30px;color: brown;text-transform: uppercase;">oracle</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <!--18th Row Code End -->

      <!-- 19th Row Code Start -->
      <div class="row my-5">
        <div class="col-md-6">
          <span style="font-size: 30px;color: brown;text-transform: uppercase;">oop</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" style="width: 73%">73%</div>
          </div>
        </div>
        <div class="col-md-6">
          <span style="font-size: 30px;color: brown;text-transform: uppercase;">java</span>
          <div class="progress" style="height: 25px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
      <!--19th Row Code End -->
    </div>
  {% endblock body %}

</body>

</html>
